.closeInstructionModal {
	float: right;
	color: lightgray;
	font-size: 24px;
	font-weight: bold;
}
.closeInstructionModal:hover {
	color: darkgray;
}

.content {
	display: none;
	position: fixed;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
	position: relative;
	background-color: white;
	padding: 20px;
	margin: auto;
	width: 75%;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	text-align: center;
}
.enter {
	background-color: aqua;
}
#instructions {
	background-color: green;
	padding: 10px;
	border-radius: 5px;
	margin: 20px 40px;
}
.reset {
	background-color: green;
	padding: 10px;
	border-radius: 5px;
}
body {
	margin: auto 40px;
	background-color: #f0e7d8;
}
#startBtn {
	background-color: green;
	padding: 10px;
	border-radius: 5px;
}
#alphabetButtons {
	background-color: #586f7c;
	padding: 40px;
	margin: 60px;
	border-radius: 5px;
	opacity: 0.8;
}
div button {
	background-color: #b8dbd9;
	padding: 15px;
	border-radius: 5px;
	margin: 10px;
	text-align: center;
}
h1 {
	background-color: #586f7c;
	text-align: center;
	margin: 15px 50px 0px 50px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Manrope', sans-serif;
	letter-spacing: 2px;
}
.modal {
	display: none;
	position: fixed;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
	position: relative;
	background-color: white;
	padding: 20px;
	margin: auto;
	width: 75%;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	text-align: center;
}
.close-btn {
	float: right;
	color: lightgray;
	font-size: 24px;
	font-weight: bold;
}
.close-btn:hover {
	color: darkgray;
}
span {
	margin: 3px;
}
#word {
	margin: 6px;
	visibility: hidden;
}
#startBtn {
	background-color: #586f7c;
}

.letter-reveal {
	visibility: visible;
}
